<mat-card>
  <mat-card-title>Навигация</mat-card-title>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/admin'"><mat-icon>home</mat-icon><span class="link-caption">Начало</span></a>
      <a mat-list-item [routerLink]="'/admin/accounts'"><mat-icon>people</mat-icon><span class="link-caption">Потребители</span></a>
      <a mat-list-item href=""><mat-icon>location_city</mat-icon><span class="link-caption">Галерии</span></a>
      <a mat-list-item href=""><mat-icon>photo_album</mat-icon><span class="link-caption">Изложби</span></a>
      <a mat-list-item href=""><mat-icon>meeting_room</mat-icon><span class="link-caption">Зали</span></a>
      <a mat-list-item href=""><mat-icon>grade</mat-icon><span class="link-caption">Артефакти</span></a>
      <a mat-list-item [routerLink]="'/admin/styles'"><mat-icon>list</mat-icon><span class="link-caption">Стилове</span></a>
      <a mat-list-item [routerLink]="'/admin/eras'"><mat-icon>query_builder</mat-icon><span class="link-caption">Ери</span></a>
      <a mat-list-item href=""><mat-icon>perm_identity</mat-icon><span class="link-caption">Артисти</span></a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
