<div
  gdAreas="header header | side content | footer footer"
  gdGap="16px"
  gdRows="auto auto auto"
  gdColumns="20% auto"
  gdAreas.lt-md="header | side | content | footer"
  gdRows.lt-md="auto auto auto auto"
  gdColumns.lt-md="auto"
>
  <div gdArea="header">
    <app-admin-header></app-admin-header>
  </div>
  <div id="side" gdArea="side">
    <app-admin-side></app-admin-side>
  </div>
  <div id="content" gdArea="content">
    <app-admin-content></app-admin-content>
  </div>
  <div gdArea="footer">
    <app-admin-footer></app-admin-footer>
  </div>
</div>
