<mat-card>
  <mat-card-title>Регистрирани потребители</mat-card-title>
  <mat-card-content>
    <mat-form-field style="width: 100%;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтриране">
    </mat-form-field>
    <mat-error *ngIf="loadingErrorMessage.length > 0"><b>An error occurred!</b> {{loadingErrorMessage}}</mat-error>
    <table mat-table matSort [dataSource]="dataSource" style="width: 100%;">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element">{{element.id}} </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Потребителско име</th>
        <td mat-cell *matCellDef="let element">{{element.username}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Електронна поща</th>
        <td mat-cell *matCellDef="let element">{{element.email}} </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Активен</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.isActive" color="primary">done</mat-icon>
          <mat-icon *ngIf="!element.isActive" color="warn">clear</mat-icon>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [routerLink]="'/admin/accounts/preview/' + element.id" matTooltip="Преглед на потребител">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button [routerLink]="'/admin/accounts/edit/' + element.id" matTooltip="Редактиране на потребител">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button [routerLink]="'/admin/accounts/activation/' + element.id" [queryParams]="{activate:false}"
                  *ngIf="element.isActive" matTooltip="Деактивиране на потребител">
            <mat-icon>visibility_off</mat-icon>
          </button>
          <button mat-button [routerLink]="'/admin/accounts/activation/' + element.id" [queryParams]="{activate:true}"
                  *ngIf="!element.isActive" matTooltip="Активиране на потребител">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
