<app-last-artefacts-slideshow></app-last-artefacts-slideshow>
<mat-card>
  <mat-card-title>За нас</mat-card-title>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor viverra ex eget mattis. Ut iaculis elit
      non gravida efficitur. Suspendisse pulvinar, nunc vel tempor gravida, mi velit tempus leo, id accumsan enim lorem
      et lectus. Quisque aliquam ante sit amet massa efficitur, eget rhoncus elit tempor. Curabitur congue at neque a
      sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed commodo
      augue id ipsum accumsan congue. Proin orci ex, accumsan non odio ac, lobortis dignissim orci. Praesent faucibus,
      mauris non egestas pharetra, enim ante dictum est, ut egestas augue est blandit massa. Ut sagittis urna aliquam
      turpis iaculis porttitor. Vestibulum blandit molestie magna, eu dictum felis sagittis at. Morbi eget pharetra
      dolor.

      Proin efficitur tincidunt lacus, sed tincidunt quam ultricies sed. Maecenas feugiat leo a lacus maximus consequat.
      Suspendisse nulla nulla, volutpat at sagittis ut, dapibus in dolor. Quisque fermentum interdum ipsum. Donec neque
      nisl, pretium vitae sem in, rutrum congue est. Nulla tempor purus lectus, quis suscipit ligula mattis sit amet.
      Nullam neque nisi, auctor et arcu mattis, dignissim iaculis orci. Nam nec accumsan metus, sed dignissim risus.
      Nunc mollis volutpat elementum. Ut et lectus feugiat, luctus tortor quis, commodo lacus.

      Donec pulvinar libero quis tortor congue sagittis. Ut quis semper eros. Morbi justo massa, sollicitudin venenatis
      quam ut, rhoncus gravida dui. Mauris ut mi odio. Fusce lobortis tincidunt dui, a pulvinar quam efficitur in.
      Aenean eleifend odio eget elit egestas, et porttitor risus interdum. Nullam suscipit molestie nisl, ut viverra
      orci pellentesque vel. Nullam vitae magna eget quam varius eleifend. In hac habitasse platea dictumst. Curabitur
      sagittis, odio id convallis iaculis, odio ligula convallis libero, quis cursus tellus erat at ligula. Fusce vel
      dui in quam mollis finibus in eget mi.

      Vivamus nunc nulla, bibendum non urna non, ullamcorper accumsan diam. Donec aliquet, purus quis viverra ultrices,
      turpis erat viverra nisl, quis faucibus magna arcu pretium diam. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia Curae; Mauris vel nisl eget dui auctor tempor sit amet id elit. Nam scelerisque
      tempor viverra. Aenean gravida eros finibus pharetra porttitor. Nunc quis egestas ipsum. Sed dictum egestas eros
      vitae egestas. Maecenas sit amet suscipit leo. Duis et dignissim felis, ac consectetur eros. Etiam at sodales
      nunc. Aliquam euismod neque dui, vitae facilisis orci vehicula sed. Nunc placerat facilisis ullamcorper.

      Suspendisse eget vulputate tortor. Nunc finibus blandit eros, ac pharetra nulla pellentesque non. Vestibulum in
      dictum turpis. Pellentesque et justo luctus, molestie augue et, tincidunt nisl. Curabitur at metus rhoncus, ornare
      elit id, vulputate purus. Suspendisse tempus risus sit amet faucibus ullamcorper. Etiam gravida fringilla elit.
      Fusce ac est ipsum. Nam tristique, tellus eget pellentesque vehicula, ligula turpis venenatis massa, eu blandit
      nibh erat ut diam.
    </p>
  </mat-card-content>
</mat-card>
