<mat-card>
  <mat-card-title>Най-нови изложби</mat-card-title>
  <mat-card-content *ngFor="let exhibition of exhibitions">
    <div
      gdAreas="side content"
      gdRows="auto"
      gdColumns="20% auto"
    >
      <div gdArea="side">
        <ngb-carousel interval="6000">
          <ng-template ngbSlide *ngFor="let i of imagesCount">
            <div class="picsum-img-wrapper">
              <img src="https://picsum.photos/300/200?random={{ exhibition.id * i + 1 }}">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div gdArea="content" style="padding-left: 20px">
        <h5>Изложба „{{exhibition.name}}“</h5>
        <p>
          Изложбата ще бъде актива в датите между <strong>{{exhibition.startDate}}</strong> и
          <strong>{{exhibition.endDate}}</strong>.
          <span *ngIf="exhibition.artist != null">В нея ще бъдат
        показани творби на артиста <strong>„{{exhibition.artist.firstName}} {{exhibition.artist.lastName}}
              “</strong>.</span><br>
          <span
            *ngIf="exhibition.style != null">Артефактите показани в изложбата ще са в стил „{{exhibition.style.name}}
            “.</span>
          <span *ngIf="exhibition.room != null"><br>
        Заповядайте в зала {{exhibition.room.name}} всеки делничен ден от 11:00 до 17:00 ч. и в почивните дни от 14:00 до 18:00 ч.</span>
        </p>
        <button mat-raised-button [routerLink]="'/exhibition/' + exhibition.id">Преглед</button>
      </div>
    </div>
    <br>
    <mat-divider [inset]="true"></mat-divider>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="'/exhibitions'">Покажи всички</button>
  </mat-card-actions>
</mat-card>
