<mat-card>
  <mat-card-title>{{ isActivation ? 'Активиране' : 'Деактивиране' }} на галерия</mat-card-title>
  <mat-card-content style="padding: 20px;">
    <mat-error *ngIf="errorMessage.length > 0"><b>An error occurred!</b> {{errorMessage}}</mat-error>
    <mat-hint *ngIf="isActivationSuccessfully">Успешно {{ isActivation ? 'активирахте' : 'деактивирахте' }} избраната галерия!</mat-hint>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="'/admin/galleries'">Назад</button>
  </mat-card-actions>
</mat-card>
