<app-last-artefacts-slideshow></app-last-artefacts-slideshow>
<div
  style="margin: 16px 50px 16px 50px;"
  gdAreas="people map"
  gdGap="16px"
  gdRows="auto"
  gdColumns="20% auto"
>
  <div gdArea="people">
    <mat-card class="personal-card">
      <mat-card-header>
        <mat-card-title>Екатерина Петрова</mat-card-title>
        <mat-card-subtitle>Директор</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button matTooltip="Телефонен номер">
          <mat-icon>phone</mat-icon>
        </button>
        <button mat-button matTooltip="Електронна поща">
          <mat-icon>email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="personal-card">
      <mat-card-header>
        <mat-card-title>София Иванова</mat-card-title>
        <mat-card-subtitle>Художник</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button matTooltip="Телефонен номер">
          <mat-icon>phone</mat-icon>
        </button>
        <button mat-button matTooltip="Електронна поща">
          <mat-icon>email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="personal-card">
      <mat-card-header>
        <mat-card-title>Иван Петканов</mat-card-title>
        <mat-card-subtitle>Директор отдел „Продажби“</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button matTooltip="Телефонен номер">
          <mat-icon>phone</mat-icon>
        </button>
        <button mat-button matTooltip="Електронна поща">
          <mat-icon>email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="personal-card">
      <mat-card-header>
        <mat-card-title>Кольо Маринов</mat-card-title>
        <mat-card-subtitle>Погребален агент</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button matTooltip="Телефонен номер">
          <mat-icon>phone</mat-icon>
        </button>
        <button mat-button matTooltip="Електронна поща">
          <mat-icon>email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div gdArea="map">
    <mat-card class="google">
      <iframe
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBrW0vLLOiHPuTtxgSOmm8qXhXrW1wBjmE&amp;q=Detelina+Apartments"
        allowfullscreen="">
      </iframe>
    </mat-card>
  </div>
</div>
